@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-image: linear-gradient(to top, #b8295d, #75283d );
    width: 100vw;
    height: 100vh;
}

main { 
    height: 100vh;
    width: 100vw;
    position: relative;
}

#logo {
    width: 300px;
    height: 530px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    overflow: hidden;
    transition:0.3s width;

}


#imagem {
    background-image: url(pexels-vision-plug-13741335.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 200px ;
    
}

#formulario > h1 {
    text-align: center;
    margin: 10px;
}

#formulario > p {
    font-weight: 600;
    font-size: 0.8em;
    padding: 10px;
}

.campo {
    padding-left: 10px;
}

form > input[type=submit] {
    width: 100%;
    height: 40px;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

form > input[type=submit]:hover {
    background-image: linear-gradient(to top, #b8295d, #75283d );
    color: white;
    border: 2px solid black;  
}

form > a {
    border: 1px solid #400112;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    margin-top:10px ;
    color: black;
    border-radius: 10px;
}
form > a:hover {
    background-image: linear-gradient(to top, #b8295d, #75283d );
    color: white;
    border: 2px solid black;
}

form > div.campo {
    background-color: #400112;
    color: white;
    margin-top: 5px;
    border-radius: 10px;
    

}

form > div.campo > span {
    
    padding:3px ;
    
    transform: translateY(5px);
   
    
}

form > div.campo > label {
   display: none;
}

form > div.campo > input{
    width: 87.5% ;
    height: 38px;
    transform: translateY(-2px);
    border-radius: 10px;
}

