@charset "UTF-8";

@media only screen and (min-width: 768px) and (max-width:992px) {
    
    #logo {
        width: 700px;
        height: 330px ;
        margin: auto;
        float: left;
    }
    #formulario {
        font-size: 1.2em;
    }

    #imagem {
        float: right;
        height: 330px;
        background-size: cover;
        background-position: center center;
    }

    form > div.campo {
        width:430px ;
    }

    form > div.campo > input {
        width: 92%;
    }

    form > input[type=submit] {
        width: 63.5%;
    }

    form > a {
        width:63.5%;
    }

}