@charset "UTF-8";

@media screen and (max-width: 768px) {

    body {
        width: 100vw;
        height: 100vh;
    }

    #imagem {
        width: 500px;
    }

    #logo {
        width: 500px;
        height: 305px;
        
        
    }
    
}