@charset "UTF-8";

@media only screen and (min-width: 768px) and (max-width:992px) {
    
    #logo {
        width: 700px;
        height: 330px ;
        margin: auto;
        float: left;
    }
    #imagem {
        float: right;
        height: 330px;
        background-size: cover;
        background-position: center center;
    }
}