@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html {

    background-color: rgb(187, 170, 149);
    width: 100vw;
    height: 100vh;

}

main {
    
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

#imagem {
    background-image: url(login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom bottom;
    width: 250px;
    height: 192px;
    
}

#logo {
    width: 250px;
    height: 500px;
    background-color: white;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
    
}

#formulario > h1 {
    text-align: center;
    padding: 10px;
}

#formulario {
    padding: 10px;
    
}

form > div.campo > label {
    display: none;
}

form > input[type=submit] {
    width: 100%;
    height: 30px;
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(248, 234, 152);
}

form > div.campo > span {
    
    color: white;
    padding: 2px;
    border-radius: 5px;
    transform: translateX(3px);
}

form > div.campo {
    background-color: rgb(41, 26, 7);
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
    
    
}

form > div.campo > input {
    width: 196.5px;
    height: 28px;
    
    border-radius: 5px;
    transform: translateY(-6.5px);
    
    
}

form > a {
    text-decoration: none;
    border: 1.8px solid black;
    display: block;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    margin-top:10px ;
    color: black;
}

form > a:hover {
background-color: rgb(248, 234, 152); ;
}
