@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

body {
    background-image: linear-gradient(to top, rgb(125, 187, 125), rgb(3, 68, 3));
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}


#logo {
    position: absolute;
    width: 275px;
    height: 568px;
    background-color: white;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: width 0.3s;
    

}

#imagem {
    background-image: url(../iamgensss/pexels-ayşenaz-bilgin-17375562.jpg);
    background-repeat: no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center center;
     margin-bottom: 10px;
    

}

#formulario {
   padding: 10px;
   display: block;
}
#formulario > h1 {
    text-align: center;
}
#formulario > p {
    font-size: 0.8em;
    margin-top: 5px;
    
}

.tel {
padding-left: 10px;
}

form >  input[type=submit] {
    display: block;
    width: 94% ;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: rgb(98, 189, 98);
    margin: auto;
    margin-top: 10px;
    
    

}

form >  input[type=submit]:hover {
    background-color: rgb(37, 66, 37);
    color: white;
   
   
}

form > a {
    display: block;
    width: 94%;
    border: 1px solid rgb(17, 116, 17);
    height: 40px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    padding-top: 8px;
    text-decoration: none;
    color: black;
    
    
    margin-top: 10px;
    
    
}

form > a:hover {
    background-color: rgb(35, 63, 35);
    color: white;
}


form > div.tel > label {
    display: none;
}

form div.tel {
    background-color: rgb(21, 48, 21);
    border-radius: 10px;
    padding: 0;
    margin: 5px;
   
    
}

form > div.tel > span {
color: white;

border-radius: 5px;
font-size: 2em;
width: 41px;
height: 52px;
padding: 5px;

transform: translatey( 5px);

}

form > div.tel > input {
    
    font-size: 1em;
    border-radius: 8px;
    width: 83%;
    height: 60px;
    transform: translateY(-2px);
    
    
}

